body {
  font-family: serif, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
  width: 100%;
  height: 100%;
  background-color: #b8f8a5;
  background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.formulario {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.title {
  font-size: 28px;
  color: rgba(46, 139, 87);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgba(46, 139, 87);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: rgba(46, 139, 87);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message,
.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: rgba(46, 139, 87);
}

.signin a:hover {
  text-decoration: underline rgba(46, 139, 87);
}

.message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
  text-align: center;
}

.form label {
  position: relative;
}

.form .input {
  width: 100%;
  padding: 12px 10px 10px;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  outline: none;
  transition: border 0.3s;
}

.form .input:focus {
  border-color: rgba(46, 139, 87);
}

.form .input:invalid {
  border-color: red;
}

.form .input + span {
  position: absolute;
  left: 12px;
  top: 14px;
  color: grey;
  font-size: 0.9em;
  transition: 0.3s ease;
  pointer-events: none;
}

.form .input:focus + span,
.form .input:not(:placeholder-shown) + span {
  top: -8px;
  left: 10px;
  font-size: 0.75em;
  color: rgba(46, 139, 87);
  background-color: #fff;
  padding: 0 4px;
}

.submit {
  background-color: #006400;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit:hover {
  background-color: rgba(46, 139, 87);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
