/* Adicionando regras específicas para o formulário */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input[type="file"] {
    margin-bottom: 15px;
}

form input[type="text"],
form input[type="password"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

form button {
    background-color: #4CAF50; /* Cor do botão */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049; /* Cor ao passar o mouse */
}